.face
    .container
        .face__body
            .face__logo
                img(src="@img/face/face_logo.png", alt="")
            .face__texts
                .face__title Clear, smart, attractive design 
                .face__sub-title for your app, logo, website
            .face__line
            a(href="#").face__button.button
                .face__button-text.button-text READ MORE
            .face__arrow-down
                i(class="fas fa-chevron-down")