footer.footer
    .container
        .footer__box
            .footer__img
                img(src='@img/footer/footer_img.png' alt='binary logo')
            ul.footer__menu
                li.footer__link
                    a(href="#") Home
                li.footer__link
                    a(href="#") Facebook
                li.footer__link
                    a(href="#") Linkedin
                li.footer__link
                    a(href="#") Contact
            .footer__text © 2015. All Rights Reserved