meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
// * Отключает форматирование ссылки у номера телефона на IOS
meta(name="format-detection" content="telephone=no")
// * Описание страницы
meta(name="description" content="simple site")
meta(name="keywords" content="binary, Binary")
// * Индексация
meta(name="robots" content="none")
// * Авторские права
meta(name="Author" content="Transparency")
meta(name="Copyright" content="Transparency")
meta(name="Address" content="Unknown")
// * Перенаправление
//- meta(http-equiv="refresh" content="0; url=/")