.partner
    .container
        .partner__content
            .partner__headlines
                .partner__title Our partners
            // <<<Partners img>>>
            .partner__partners
                .partner__item
                    img.partner__img(src="@img/partner/partner1.png" alt="#")
                .partner__item
                    img.partner__img(src="@img/partner/partner2.png" alt="#")
                .partner__item
                    img.partner__img(src="@img/partner/partner3.png" alt="#")
                .partner__item
                    img.partner__img(src="@img/partner/partner4.png" alt="#")
            // <<</Partners img>>>