doctype html
html(lang="zxx")
    head
        include html/_head.pug
        // * Адаптив
        //- meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        meta(name="viewport" content="width=device-width")
        //- * CSS стили
        link(rel="stylesheet" href="css/style.min.css")
        title Binary
    body
        include html/_additional.pug
        .wrapper
            .page
                include html/_face.pug
                include html/_about.pug
                include html/_portfolio.pug
                include html/_partner.pug
                include html/_contact.pug
                include html/_footer.pug
        script(src="https://kit.fontawesome.com/a580a0af1c.js" crossorigin="anonymous")
        script(src="js/app.min.js") 