@use "sass:math";
/* Nav: Шрифты */
/* Nav: Разные настройки */
/* Nav: Helper classes */
/* Nav: import assets */

// ! Миксины, переменные, шаблоны и
@import "_additionally";
/* ! Шрифты */
@import "_fonts";

/* Разные настройки */
.container {
    max-width: $container + px;
    margin: 0 auto;
}

/* Helper classes */
.black-line {
    margin: 0 auto;

    width: 81px;
    height: 1px;
    background-color: #000000;
}

.button {
    display: block;
    cursor: pointer;
    width: rem(182);
    height: rem(47);

    transition: all 0.3s ease 0s;
}

.button-text {
    font-size: rem(16);
    line-height: rem(40);
    letter-spacing: 0.06rem;
}

// * Заголовок
.headlines {
    text-align: center;

    & div {
        margin-bottom: rem(25);
    }

    &__title {
        font-size: rem(34);
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.16rem;
        color: #000000;
    }

    &__text {
        font-size: rem(14);
        line-height: rem(25);
        font-weight: 300;
        color: #868585;
    }
}

/* ! import assets */
@import "_nullstyle";
@import "assets/_face.scss";
@import "assets/_about.scss";
